<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "header.html" %}

    {% block header %}
        <title>Right Answer</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        Congrats you chose correctly! You live to survive another day as Beyoncé's assistant...
        <br><br>

        <embed name="run the world" src="/static/Beyoncé - Run the World (Girls) (Video - Main Version).mp4"width="600"
        height="400" loop="false" autostart="false"><br><br>

        <a href='/next/'>Continue to the next task</a>
    {% endblock %}
</body>
</html>