<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "header.html" %}

    {% block header %}
        <title>Wrong Answer</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        You have made the wrong decision for Beyoncé!!! She has her lawyers send you
        termination letter :( <br><br>

        <embed name="run the world" src="/static/Beyoncé - Broken-Hearted Girl (Video).mp4"width="600" height="400"
        loop="false" autostart="false"><br><br>

        <a href='/reset/'>Return to the start</a>
    {% endblock %}
</body>
</html>