<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <audio controls>
        <source src="/static/08 Sandcastles.m4a" />
    </audio>
    <a href='/chose/wrong/'><button name="Sandcastles" style="width:100px;height:90px">Click Here For Sandcastles</button><br>
     <audio controls>
        <source src="/static/12 Formation.m4a" />
    </audio>
    <a href='/chose/right/'><button name="Formation" style="width:100px;height:90px">Click Here For Formation</button><br>
</body>
</html>