<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <embed name="sandcastles" src="/static/08 Sandcastles.m4a"width="150" height="90" loop="false" autostart="false">
    <embed name="formation" src="/static/12 Formation.m4a"width="150" height="90" loop="false" autostart="false">

    <p>Based on the two downloads of Beyoncé's songs, click the corresponding button for what song to play for Beyoncé
    while she gets ready :) </p><br>

    <a href='/chose/wrong/'><button name="Sandcastles">Sandcastles</button>
    <a href='/chose/right/'><button name="Formation">Formation</button><br>
</body>
</html>