<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "header.html" %}

    {% block header %}
    <title>About You</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    Tell us about yourself!<br><br>
    <form action="/save/">
        <div class="form-group row">
            <label for="user's name" class="col-sm-2 col-form-label">What is your full name?</label>
            <div class="col-sm-3">
                <input type="text" id="name" name="user_name" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="fan level" class="col-sm-2 col-form-label">What level of Beyoncé fan would you consider yourself?</label>
            <div class="col-sm-3">
                <select name="fan_level" id="fan_level" class="custom-select">
                    <option>{{ fan_types[0] }}</option>
                    <option>{{ fan_types[1] }}</option>
                    <option>{{ fan_types[2] }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/><br>
        </div>
    </form>
    {% endblock %}
</body>
</html>